.el-checkbox__inner {
  height: 1.7rem !important;
  width: 1.7rem !important;
}
.el-form-item__content {
  display: flex;
  justify-content: flex-end;
}
.el-radio__inner {
  height: 1.7rem !important;
  width: 1.7rem !important;
}

.el-popconfirm {
  font-size: 2rem !important;
}
.el-popconfirm * {
  font-size: inherit !important;
}
.el-popconfirm button {
  width: 4rem;
  height: 3rem;
}
.el-input {
  height: 5rem;
}

.el-input__inner {
  font-size: 2.5rem;
}

.el-dialog__header {
  font-size: 2rem;
}
.el-dialog__body {
  font-size: 2rem;
}
* {
  user-select: none; /* 禁止文本选中 */
  -webkit-user-select: none; /* Safari兼容 */
  -moz-user-select: none; /* Firefox兼容 */
  -ms-user-select: none; /* IE/Edge兼容 */
}
